/* Productos.css */
.productos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  background-color: #201f1f;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

.card p {
  font-size: 14px;
  margin: 0 0 8px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
